
.pdF{

    width:800px;
    height:2100px
}
.Back{
    border-radius: 4px;
        border: solid 2px #ddd;
        background-color: #ddd;
        color:#555;
       font-size: 1em;
       left:441px;
}